@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

:root {
    --color-background: #fffdf7;
    --color-black: #242424;
    --color-purple-700: #754ef0;
    --color-red-danger-700: #fb3026;
    --color-red-danger-900: #b4322b;
    --color-white: #ffffff;
    --color-azul-500: #2d2542;
    --color-azul-800: #0b051f;
}

.hidden {
    display: none !important;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        45deg,
        var(--color-azul-800),
        var(--color-azul-500)
    );

}

.btn {
    width: 100%;

}

.container {
    width: 120vh;
    background-color: var(--color-background);
    height: 700px;
    border-radius: 20px;
    display: flex;
    padding: 0!important;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.container .logo {
    background: url('/img/bg_registration.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 100%;
}

.container .logo .drop-filter {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container .logo .drop-filter .logo-box h1 {
    font-size: 30px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.container .logo .drop-filter .logo-box .logo-img {
    display: flex;
    justify-content: center;
}

.container .logo .drop-filter .logo-box img {
    width: 450px;
}

.container .logo .text-logo {
    width: 100%;
    color: var(--color-background);
    text-align: center;
}

.container .logo .text-logo h2 {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/*Estilzaição form*/

.container .form {
    width: 100%;
    background-color: white;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container .form .form-box {
    width: 70%;
    height: 80%;
    padding: 20px 40px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .form .form-box .form-input {
    width: 80%;
    height: 100%;
    padding: 20px 40px;
    padding: 20px 10px;
}

.container .form .form-box .form-input .input-box {
    display: flex;
    flex-direction: column;
}

.container .form .form-box .form-input .input-box label,
.container .form .form-box .form-input .input-box input {
    width: 100%;
    height: 20px;


}

.container .form .form-box .form-input .input-box label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    color: var(--color-black);
}

.container .form .form-box .form-input .input-box input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-black)!important;
    box-shadow: none;
}

.container .form .form-box .form-input .input-box input::placeholder {
    color: var(--color-black);
}

.container .form .form-box .form-input .input-box input:focus {
    outline: none;
}

.container .form .form-box .form-input .form-check {
    margin-top: 10px;
    color: var(--color-black);
}



.container .form .form-box .form-input .btn {
    height: 40px;
    width: 100%;
    border-radius: 20px;
}

.container .form .form-box .form-input .btn-primary {
    margin-top: 5px;
    background-color: var(--color-purple-700);
    color: var(--color-white);
}

.container .form .form-box .form-input .btn-danger {
    margin-top: 5px;
    background-color: var(--color-red-danger-700);
    color: var(--color-white);
}

.container .form .form-box .form-input p {
    margin-top: 10px;
    text-align: center;
}

.container .form .form-box .form-input p a {
    text-decoration: none;
}

.container .form .form-box .form-input p a:hover {
    text-decoration: underline;
}

.container .form .form-box .form-input .icon {
    margin-top: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.container .form .form-box .form-input .icon img {
    width: 30px;
}